<div class="header">
  <div class="header-top">
    <div class="container">
        <div class="col-sm-4 logo">
          <h1><a href="/">Moonrock <span>Bags</span></a></h1>  
        </div>
      <div class="col-sm-4 world">
          <div class="cart box_1">
            <a href="checkout">
            <h3> <div class="total">
              <span>${{session.cart.totalPrice}}</span></div>
              <img src="/images/cart.png" alt=""/> <span class="badge">{{session.cart.totalQty}}</span></h3>
            </a>

          </div>
      </div>
      <div class="col-sm-2 number">
          <span><i class="glyphicon glyphicon-phone"></i>+65 9070 0345</span>
        </div>
        <div class="clearfix"> </div>
    </div>
  </div>
    <div class="container">
      <div class="head-top">
      <div class="n-avigation">
      
        <nav class="navbar nav_bottom" role="navigation">
        
         <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header nav_2">
            <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"></a>
           </div> 
           <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
            <ul class="nav navbar-nav nav_1">
              <li><a href="/">Home</a></li>
              <li><a href="/">Products</a></li>
              {{#if login}}
                <li><a href="/user/profile">Profile</a></li>
                <li><a href="/user/logout">Logout</a></li>
              {{else}}
                <li><a href="/user/signup">Sign Up</a></li>
                <li><a href="/user/signin">Sign In</a></li>
              {{/if}}
              <li class="last"><a href="/">Contact</a></li>
            </ul>
           </div><!-- /.navbar-collapse -->
          
        </nav>
      </div>
    </div>
  </div>
</div>
<br>
